.footer {
    padding: 20px 10px; /* Зменшено відступи для мобільних пристроїв */
    display: flex;
    flex-direction: column; /* Встановлюємо вертикальне розташування для мобільних пристроїв */
    align-items: center; /* Центрування всіх елементів */
    background-color: #3b3833;
    text-align: center; /* Центрування тексту */
}

.footer img {
    height: 30px; /* Зменшення висоти логотипу */
    margin-bottom: 10px; /* Додаємо відступ для відділення від інших елементів */
}

.footer_contact {
    display: flex;
    flex-direction: column; /* Вертикальне розташування контактів для мобільних пристроїв */
    align-items: center; /* Центрування контактних елементів */
    row-gap: 10px; /* Відстань між контактними елементами */
    margin-bottom: 10px; /* Відступ від соціальних іконок */
}

.footer_contact a {
    color: #fff;
    font-size: 14px; /* Зменшення розміру шрифта для мобільних пристроїв */
    font-style: italic;
    text-decoration: none; /* Видалення підкреслення з посилань */
}

.footer_social {
    display: flex;
    flex-direction: row; /* Горионтальне розташування соціальних іконок */
    align-items: center;
    column-gap: 15px; /* Відстань між соціальними іконками */
}

.footer_social img {
    width: 30px; /* Зменшення розміру іконок */
}

.footer a:hover {
    transition: 0.2s; /* Збільшено час анімації для плавності */
    transform: scale(1.1); /* Збільшення ефекту при наведенні */
}

/* Медіа-запити для адаптації під різні розміри екранів */

/* Для планшетів */
@media (min-width: 768px) {
    .footer {
        padding: 20px 30px; /* Збільшення відступів для планшетів */
        flex-direction: row; /* Перехід до горизонтального розташування для планшетів */
        justify-content: space-between; /* Розподіл елементів по ширині футера */
        text-align: left; /* Вирівнювання тексту для планшетів */
    }

    .footer_contact {
        flex-direction: column; /* Перехід до горизонтального розташування для контактних елементів */
        row-gap: 0; /* Видалення відстані між контактними елементами */
        margin-bottom: 0; /* Видалення відступу від соціальних іконок */
    }

    .footer_contact a {
        font-size: 16px; /* Збільшення розміру шрифта для планшетів */
    }

    .footer_social {
        column-gap: 20px; /* Збільшення відстані між соціальними іконками */
    }

    .footer_social img {
        width: 40px; /* Встановлення стандартного розміру іконок для планшетів */
    }
}

/* Для великих екранів (десктопів) */
@media (min-width: 1024px) {
    .footer {
        padding: 20px 55px; /* Збільшення відступів для десктопів */
    }

    .footer_contact a {
        font-size: 17px; /* Встановлення стандартного розміру шрифта для десктопів */
    }

    .footer_social img {
        width: 40px; /* Встановлення стандартного розміру іконок для десктопів */
    }
}
